@import "color";

$browser-default-font-size: 16px !default;
$background-color: #f5f8fa !default;


// navbar
$navbar-transparent: $color-transparent-totally !default;
$navbar-background: $color-primary !default;
$navbar-border-bottom: $color-primary-dark !default;
