
$color-gray-light: #f5f8fa;
$color-primary: #3097d1 !default;
$color-primary-dark: #1c73a5 !default;
$color-primary-inverted: rgba(255,255,255,.9) !default;

$background-color: $color-gray-light !default;
