@import "variables";
@import "function";
@import "bs/variables";
@import "bs/mixins/breakpoints";
.article {
	.carousel-title {
		color: #727272;
	}
    .carousel {
        .inner-item {
            width: 100%;
            height: pxTorem(360px) !important;
            min-height: pxTorem(360px) !important;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .carousel-indicators {
        li {
            border-color: $color-primary;
        }
        .active {
            background-color: $color-primary;
        }
    }
    .article-table {
        th {
            text-align: center;
            border-top: 0;
            border-bottom: 0;
            border-right: 1px solid $color-primary-light;
        }
        td {
            text-align: center;
            border-top: 0;
            border-bottom: 0;
            border-right: 1px solid $color-primary-light;
        }
        th:last-child {
            border-right: 0;
        }
        td:last-child {
            border-right: 0;
        }
    }
    p {
        text-indent: 32px;
    }
}
