@import "variables";

body{
	background-color: $background-color;
}

#doc-header {
    border-color: $navbar-border-bottom;
    border-width: 0 0 1px;

    .brand {
    	padding: 14px 12px 9px;
    	img {
    		width: 85px;
    	}
    }
}