@import "variables";
@import "function";
@import "bs/variables";
@import "bs/mixins/breakpoints";
body {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    position: relative;
    background-color: $background-color;
}

#doc-header {
    background-color: $navbar-background;
    transition: background-color 1s ease;
    padding: 0 .5rem;
    border-color: $navbar-border-bottom;
    border-width: 0 0 1px;
    .navbar-brand {
        // padding: pxTorem(8px) 0 pxTorem(8px);
        // margin-top: .5rem;
        width: 108px;
        padding: 0px;
        margin-right: .5rem;
        margin-top: pxTorem(6px);
        img {
            width: 32px;
        }
        .media-left {
            margin-right: 0px;
            padding-right: 0px;
        }
        .media-heading {
            margin-bottom: 0px;
        }
        .media-content {
            line-height: 1.2;
            font-size: 1rem;
        }
    }
    .navbar-slogan {
        font-size: pxTorem(20px);
        font-weight: 500;
        font-family: "STXinwei", "STXingkai", "FZShuTi", "KaiTi", "STKaiti", "LiSu", "STLiti";
        padding-top: pxTorem(12px);
        color: #fff;
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                min-width: pxTorem(120px);
                padding: 1rem .25rem;
                text-align: center;
                &.active,
                &:hover {
                    background: rgba(0, 0, 0, .1);
                }
            }
        }
    }
    .navbar-toggler {
        margin: .5rem 0;
        width: 40px;
        height: 40px;
        padding: 0;
        &:focus {
            outline: none;
        }
        .icon-bar {
            display: block;
            position: relative;
            background-color: $color-white-light;
            width: 24px;
            height: 2px;
            border-radius: 1px;
            &+.icon-bar {
                margin-top: 4px;
            }
        }
        &[aria-expanded="true"] {
            .icon-bar {
                background-color: #ffffff;
            }
        }
    }
    &.navbar-transparent {
        background-color: transparent;
        border-width: 0;
        .navbar-nav {
            .nav-item {
                .nav-link {
                    padding: .5rem .25rem;
                    margin-top: .5rem;
                    &.active,
                    &:hover {
                        background: rgba(0, 0, 0, .3);
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(sm, $grid-breakpoints) {
    #doc-header {
        .navbar-brand {
            position: absolute;
            left: 50%;
            margin-left: -43px;
        }
        .navbar-nav {
            .nav-item {
                float: none;
                margin: 0;
                .nav-link {
                    padding: .5rem .25rem;
                }
            }
        }
    }
}

#doc-carousel {
    .inner-item {
        width: 100%;
        height: pxTorem(644px);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .carousel-caption-bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: none;
        background: rgba(0, 0, 0, .4);
    }
    .carousel-caption {
        top: 40%;
        bottom: auto;
        h3 {
            font-size: 48px;
        }
        p {
            font-size: 24px;
        }
        @include media-breakpoint-down(sm, $grid-breakpoints) {
            h3 {
                font-size: 48px;
            }
            p {
                font-size: 18px;
            }
        }
    }
    .carousel-control {
        .icon-prev {
            font-size: 32px;
        }
        .icon-next {
            font-size: 32px;
        }
    }
    .carousel-indicators {
        li {
            border-color: $color-primary;
        }
        .active {
            background-color: $color-primary;
        }
    }
}

@include media-breakpoint-down(sm, $grid-breakpoints) {
    #doc-carousel {
        .carousel-caption {
            h3 {
                font-size: 32px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}

.section {
    padding: pxTorem(80px) 0 pxTorem(30px);
    position: relative;
    background-color: #FFFFFF;
    .title {
        text-align: center;
        max-width: 760px;
        margin: 0 auto;
        display: block;
    }
}

.section-gray {
    background-color: #f7f7f9;
}

@include media-breakpoint-down(sm, $grid-breakpoints) {
    .section {
        .title {
            max-width: 90%;
            margin-bottom: 8px;
        }
    }
}

.separator-container {
    text-align: center;
    position: relative;
    .separator {
        color: $color-primary;
        margin: 0 auto 1em;
        width: 11em;
        span {
            display: inline-block;
            width: 8px;
            height: 8px;
            background: $color-primary;
        }
        &.line-separator:before,
        &.line-separator:after {
            display: block;
            width: 40%;
            content: " ";
            margin-top: 14px;
            border: 1px solid $color-primary;
        }
        &.line-separator:before {
            float: left;
        }
        &.line-separator:after {
            float: right;
        }
    }
}

.project {
    padding: 8px 0px 16px;
    .project-image-trigger {
        display: block;
        min-height: 213px;
        background-color: #f6f6f6;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .project-image {
        width: 100%;
        position: relative;
        height: auto;
        min-height: 213px;
    }
    .project-detail {
        text-align: center;
    }
    .project-detail-more {
        border-radius: 30px;
    }
    .project-detail-type {
        margin-bottom: 0px;
        margin-top: 20px;
    }
    .project-detail-title {
        margin: 8px 0 16px;
    }
    .project-detail-info {
        max-height: 80px;
        min-height: 80px;
    }
    &.card {
        padding-top: 0;
    }
}

#doc-customer {
    .project {
        padding: 0;
        .project-image-trigger {
            min-height: 120px;
            max-height: 120px;
            background-position: center 0px;
            background-color: #ffffff;
            &:hover {
                background-position: center -120px;
            }
        }
    }
}

#doc-about {
    .about-us-container {
        .lazyload-background {
            width: 100%;
            height: pxTorem(408px);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        p {
            text-indent: 32px;
            line-height: 32px;
        }
    }
}

#doc-about-numbers {
    background: #ffea00;
    .about-us-table {
        .tbody {
            color: #fff;
            margin-bottom: 0px;
        }
        .tfoot {
            color: #525252;
            margin-bottom: 0px;
            font-weight: bold;
        }
    }
}

@include media-breakpoint-down(sm, $grid-breakpoints) {
    #doc-about-numbers {
        .about-us-table {
            .col-md-4 {
                margin-bottom: 8px;
            }
        }
    }
}

#doc-about-contact {
    padding-top: pxTorem(30px);
}

#doc-about-map {
    width: 100%;
    height: 450px;
}

@import "footer";
@import "contact";
